<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div id="root">
        <section id="main">
            <article>
                <div class="back"><a href="/app/v1/blogs/dashboard">Home</a></div>
                <ul>
                    
                    <a href="/app/v1/user/logout">Logut</a>
                </ul>
            </article>
        </section>
    </div>
    <main>
      <div class="single-blog">
        <h3 class="blog-title"><%= blog.title%></h3>
        <p><%= blog.snippet%></p>
        <p><%= blog.description%></p>
        <p>By-<%= blog.author.name%></p>
      </div>
      <div class="ratings">
        <h4>Ratings for this blog</h4>
        <% ratings.forEach((doc)=>{%>
        <p>Rating:<%=doc.ratings%></p>
        <span>By:<%= doc.user.name%></span>
        <%})%>
      </div>
      <div class="form_ratings">
        <h3>Rate this blog</h3>
        <form action="/app/v1/blogs/ratings/<%= blog._id%>" method="post">
          1<input type="radio" name="ratings" id="" value="1" /> 2<input
            type="radio"
            name="ratings"
            id=""
            value="2"
          />
          3<input type="radio" name="ratings" id="" value="3" /> 4<input
            type="radio"
            name="ratings"
            id=""
            value="4"
          />
          5<input type="radio" name="ratings" id="" value="5" />
          <button type="submit">Submit Ratings</button>
        </form>
      </div>
    </main>
  </body>
</html>